nav{
    background-color: rgb(112, 219, 246);
    height: 8vh;
    font-size: 22px;
}
ul{
    display: flex;
    align-items: center;
    height: 100%;
    li{
        margin: 0 2vh;
    }
}
.add{
    margin: 0 2vh;
}